POSTGRES_USER=database-user
POSTGRES_PASSWORD=database-password
POSTGRES_DB=database

DB_HOST=postgres
DB_PORT=5432
DB_USER=database-user
DB_PASSWORD=database-password
DB_NAME=database

PORT=3000

AUTH_KEY=chave_para_criptografia
